<html>
<body>
<h1 style="color: #474f5b; font-style: italic; text-align:center"> Data din ziua de azi este : {{date}} .</h1>
<h1 style="color: #01102d; font-style: italic; text-align:center"> Ora exactă este : {{ora}} .</h1>
</body>
</html>